//=================================================//
//=================header scss=====================//
//=================================================//
header {
  .navbar {
    left: 69px !important;
    transition: left 0.35s ease-in;
    @media screen and (min-width: 992px) {
      left: 250px !important;
      transition: left 0.35s ease-in;
    }
    .search-bar {
      .input-group {
        height: 40px;
        width: 300px;
      }
    }
    .navbar-toggler {
      &.openAside {
        margin-left: 145px;
        transition: margin-left 0.35s ease-in;
      }
      &.closeAside {
        margin-left: 0px;
        transition: margin-left 0.35s ease-in;
      }
    }
  }
}
