//=================================================//
//=================dashboard scss=====================//
//=================================================//
table {
  th.subtitle-md {
    white-space: nowrap;
  }
  // td,
  // th {
  //   padding-inline: 12px !important;
  // }
  .action-icon:hover {
    svg {
      cursor: pointer;
    }
    svg path {
      fill: #558eff;
    }
  }
}
