<section>
    <div class="container-fluid">
        <div class="card w-75 mx-auto">
            <div class="card-header subtitle-lg text-dark">
              Login Form
            </div>
            <div class="card-body">
                <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="name" class="form-label">User Name</label>
                        <input type="text" class="form-control" formControlName="userName" id="name">
                      </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">User Email address</label>
                      <input type="email" class="form-control" formControlName="userEmail" id="email" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary text-white">Login</button>
                  </form>
            </div>
          </div>
    </div>
</section>

