<section class="login-form bg-light">
  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="border-0 card mx-auto shadow-sm" style="width: 550px">
        <div
        class="card-header subtitle-lg text-dark p-4 border-light bg-body-tertiary"
      >
        Login Form
      </div>
      <div class="card-body p-4">
        <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
          <!-- <div class="mb-3">
            <input
              type="text"
              class="form-control rounded-2 text-dark"
              formControlName="firstName"
              placeholder="First Name"
              id="firstName"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control rounded-2 text-dark"
              formControlName="lastName"
              placeholder="Last Name"
              id="lastName"
            />
          </div> -->
          <div class="mb-3">
            <input
              type="email"
              class="form-control rounded-2 text-dark"
              formControlName="userEmail"
              id="email"
              placeholder="Email address"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3 d-flex position-relative">
            <input
              [type]="show ? 'text' : 'password'"
              class="form-control rounded-2 text-dark"
              formControlName="userPassword"
              id="password"
              placeholder="Password"
              aria-describedby="password"
            />
            <span
              class="show-password small position-absolute"
              (mouseenter)="showPassword()"
              (mouseleave)="showPassword()"
              >show</span
            >
          </div>
          <button
            type="submit"
            class="btn btn-primary text-white w-100 rounded-pill p-2"
          >
            Login
          </button>
        </form>
      </div>
      </div>
    </div>
  </div>
</section>
