//=================================================//
//=================global scss=====================//
//=================================================//
body {
  background-color: $light !important;
}
.header-container {
  background-color: rgb(240, 240, 240);
  font-size: 30px;
  color: black;
  border: 2px solid rgb(196, 196, 196);
  padding: 20px;
}
.form-control:focus {
  border-color: $gray-300 !important;
  outline: 0;
  box-shadow: none !important;
}

//== scrollbar
::-webkit-scrollbar {
  background-color: $light;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary;
}

.py-18 {
  padding-block: 18px !important;
}
.py-12 {
  padding-block: 18px !important;
}
