//=================================================//
//=================global scss=====================//
//=================================================//

.form-control:focus {
  // border-color: $gray-300 !important;
  outline: 0;
  box-shadow: none !important;
}

//== scrollbar
::-webkit-scrollbar {
  background-color: $light;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary;
}

.py-18 {
  padding-block: 18px !important;
}
.py-12 {
  padding-block: 12px !important;
}
.show-password {
  right: 12px;
  top: 18px;
  &:hover {
    cursor: pointer;
    color: $primary-hover;
  }
}
.action-icon:hover {
  svg {
    cursor: pointer;
  }
  svg {
    path {
      fill: $primary-hover;
    }
  }
}
table {
  th {
    .subtitle-md {
      white-space: nowrap;
    }
  }
}
