// //=================================================//
// //=================main scss=====================//
// //=================================================//

@import "./variables";

// theme colors
$theme-color: (
  "dark": $dark,
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
);

// body styles
$font-size-base: 0.875rem; //14px
$body-font-size: 0.875rem; //14px
// $font-size-base: 1rem; //14px
// $body-font-size: 1rem; //14px
$font-family-base: "Lato", sans-serif;
$body-font-weight: 400;
$body-color: $secondary;
$body-bg: $light;

$h1-font-size: $fs-56; //56px
$h2-font-size: $fs-46; //46px
$h3-font-size: $fs-28; //28px
$h4-font-size: $fs-24; //24px
$h5-font-size: $fs-20; //20px
$h6-font-size: $fs-18; //18px

$small-font-size: 0.929rem; //13px

// table style
$table-cell-padding-y: 1.286rem; //18px
$table-cell-padding-x: 0.857rem; //12px
$table-cell-vertical-align: middle;

//input style
$input-placeholder-color: $gray-900;
$input-border-color: $gray-900;
$input-focus-border-color: $gray-400;
$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 0.75rem;

//== button
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-font-size: $fs-16;
$navbar-toggler-focus-width: 0;

//box shadow-sm
$box-shadow-sm: 4px 0px 16px 0px rgba(16, 30, 115, 0.08);

h1,
.h1 {
  font-weight: $font-weight-700 !important;
  line-height: $lh-60;
  letter-spacing: $letter-spacing-lg;
}

h2,
.h2 {
  font-weight: $font-weight-700 !important;
  line-height: $lh-46;
  letter-spacing: $letter-spacing-md;
}

h3,
.h3 {
  font-weight: $font-weight-400 !important;
  line-height: $lh-34;
  letter-spacing: $letter-spacing-md;
}

h4,
.h4 {
  font-weight: $font-weight-700 !important;
  line-height: $lh-34;
  letter-spacing: $letter-spacing-md;
}

h5,
.h5 {
  font-weight: $font-weight-700 !important;
  line-height: $lh-26;
  letter-spacing: $letter-spacing-md !important;
}

h6,
.h6 {
  font-weight: $font-weight-400 !important;
  line-height: $lh-24;
  letter-spacing: $letter-spacing-sm;
}

.small-regular-font {
  font-size: $small-font-size;
  font-weight: $font-weight-400;
  line-height: $lh-16;
}

.small-bold-font {
  font-size: $fs-12;
  font-weight: $font-weight-700;
  line-height: $lh-16;
}

.small-bold-xs {
  font-size: $fs-xs;
  font-weight: $font-weight-700;
  line-height: $lh-12;
  letter-spacing: $letter-spacing-md;
}

.btn {
  font-size: $fs-15;
  font-weight: $font-weight-700 !important;
  line-height: $lh-18;
  letter-spacing: $letter-spacing-md;
}

.subtitle-lg {
  font-weight: $font-weight-700;
  line-height: $lh-12;
  letter-spacing: $letter-spacing-sm;
}

.subtitle-md {
  font-weight: $font-weight-700;
  line-height: $lh-20;
  letter-spacing: $letter-spacing-sm;
}

.initial {
  font-size: $small-font-size;
  font-weight: $font-weight-900;
  line-height: $lh-16;
  letter-spacing: $letter-spacing-sm;
}

.body-bold-font {
  font-size: $fs-16;
  font-weight: $font-weight-700;
  line-height: $lh-24;
  letter-spacing: $letter-spacing-sm;
}

.body-regular-font {
  font-weight: $font-weight-400;
  line-height: $lh-20;
  letter-spacing: $letter-spacing-sm;
}

// font size
@import "./header";
@import "./global";
@import "./aside";
@import "./footer";
