//=================================================//
//=================aside scss=====================//
//=================================================//
.aside {
  transition: 0.35s ease-in;
  width: 250px;

  .aside-wrapper {
    .health-logo {
      display: block;
      padding-inline: 24px;
    }
    .logo-icon {
      display: none;
    }
    .subtitle-medicine {
      display: block;
    }
    .aside-item {
      overflow-y: auto;
      overflow-x: hidden;
      .aside-link {
        padding-left: 12px;
        display: inline;
      }
    }
  }

  li {
    .aside-item {
      padding: 14px 0px;
    }
  }
}

@media screen and (max-width: 992px) {
  .aside:not(.open-aside) {
    width: 68px;
    .aside-wrapper {
      .health-logo {
        display: none;
        padding-inline: 24px;
      }
      .logo-icon {
        display: block;
      }
      .subtitle-medicine {
        display: none !important;
      }
      .aside-item {
        .aside-link {
          display: none !important;
        }
      }
    }
  }
  .aside.open-aside {
    width: 250px !important;

    .aside-wrapper {
      .health-logo {
        display: block !important;
        padding-inline: 24px;
      }
      .logo-icon {
        display: none !important;
      }
      .subtitle-medicine {
        display: block !important;
      }
      .aside-item {
        .aside-link {
          padding-left: 12px;
          display: inline;
        }
      }
    }
  }
}
