//=================================================//
//=================app scss=====================//
//=================================================//
main {
  margin-left: 68px;
  transition: 0.35s margin-left ease-in;
  @media screen and (min-width: 768px) {
    margin-left: 250px;
  }
}
